.contact-us{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    margin: auto;
    padding: 1rem;
}
.form{
    text-align: left;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
}
.form div{
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 10px;
}
.form div input{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border-radius: 7px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
}
.form div textarea{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 7px;
    border-bottom: 1px solid gray;
    padding: 5px; 
}
label{
    font-size: large;
}
.btn_div1 button{
    padding: 10px 40px;
    border: none;
    border-radius: 7px;
    background-color: rgb(25, 107, 25);
    color: white;
    font-size: 15px;
    transition: all .5s ease-in-out;
}
.btn_div1 button:hover{
    background-color: rgba(25, 107, 25, 0.776);
    cursor: pointer;
}
.btn_div1{
    text-align: center;
    margin: auto;
    /* border: 1px solid red; */
}
h1{
    background-color: rgb(75, 114, 146);
    color: white;
    border-radius: 20%;
}

