.profile_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid red; */
    padding: 1rem;
    width: 90%;
    margin: auto;
    gap: 20px;
}
.profile_container div{
   font-size: large;
}
.cards_div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    border-radius: 10px 50px;
    transition: all .7s ease-in-out;
}
.cards_div:hover{
    transform: scale(1.01);
    background-color: #81abd370;
    cursor: pointer;
  }
ul{
    list-style: none;
}