$primary-color: #333;
$secondary-color: #555;
$background-color: #f9f9f9;
$border-radius: 8px;
$card-width: 150px;
$card-height: 250px;

.main_first {
 
  padding: 20px;
  position: relative;
  background-color: $background-color;
}

.story-section {
    // border: 3px solid red;
  display: flex;
//   flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 99%;
  padding: 10px;
//   margin: auto;
}

.story-card {
    // border: 1px solid rgb(0, 55, 255);
  width: $card-width;
  height: $card-height;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  height: 200px;
  width: 150px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
//   padding: 10px;
margin: auto;
  
  &:hover {
    transform: scale(1.019);
  }
}
.story-card image{
    overflow: hidden;
}
.story-img, 
.story-card video {
    // border: 3px solid rgb(27, 43, 2);
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profile-pic {
    // border: 3px solid rgb(126, 132, 9);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
 top:10px;
  left: 10px;
  border: 2px solid #fff;
}

.span-name {
    color: white;
  position: absolute;
  bottom: 6px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.video-container {
    // border: 3px solid rgba(69, 73, 68, 0.191);
  width: 100%;
  height: 70%;
  position: relative;
  overflow: hidden;
}