.main_container{
    display: grid;
    grid-template-columns: 400px auto auto;
    grid-template-rows: 80px auto ;
    grid-template-areas: "nav nav nav" 
                         "aside main main";
   
    & nav{
        grid-area: nav;
        z-index: 1;
        overflow: hidden;
        position: sticky;
        top: 0px;
        
    }
    & aside{
        grid-area: aside;
       
    }
    & main{
        grid-area: main;
        height: 100vh;
        display: flex;
        & .main_lift{
            width: 68%;
           overflow: scroll;
           scrollbar-width:none;
           
        }
        & .main_right{
            width: 32%;
    background-color: rgb(228, 232, 236);
        }
    }
}