.main_container{
    display: grid;
    grid-template-columns: 400px auto auto;
    grid-template-rows: 80px auto ;
    grid-template-areas: "nav nav nav" 
                         "aside main main";
    //  height: 100vh;
    & nav{
        grid-area: nav;
        z-index: 2;
        overflow: hidden;
        position: sticky;
        top: 0px;
        
    }
    & aside{
        grid-area: aside;
    //    height: 100vh;
    }
    & main{
        grid-area: main;
        // height: auto;
        display: flex;
        & .main_lift{
            width: 68%;
           overflow: scroll;
           scrollbar-width:none;
           
        }
        & .main_right{
            width: 32%;
            // height: 100vh;
    background-color: rgb(228, 232, 236);
        }
    }
}